# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Airflow
airflow.db
logs/
*.log
airflow.cfg
unittests.cfg

# Virtual Environments
.venv/
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
